body {
  scroll-behavior: smooth;
  background-color: black;
  color: antiquewhite;
}

section {
  padding-top: 60px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 80;
  align-content: center;
}

a {
  font-size: large;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
